input {
  border-radius: 2px;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: none; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.form__group {
  margin-bottom: 12px;
}

.form__input {
  border: 1px solid var(--color-action);
  border-radius: 2px;
  font-size: 16px;
  height: 48px;
  line-height: 32px;
  padding: 8px 12px;
  width: 100%;
  font-family: var(--fonts);
}

.form__label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  // height: 24px;
  line-height: 32px;
  text-transform: uppercase;
  width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #888;
  font-family: var(--fonts);
  font-size: 16px;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #888;
  font-family: var(--fonts);
  font-size: 16px;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #888;
  font-family: var(--fonts);
  font-size: 16px;
  font-style: italic;
}
