* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 18px;
  height: 100%;
  line-height: 24px;
  margin: 0;
  font-family: var(--fonts);
}

p {
  font-size: 18px;
  line-height: 24px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

blockquote {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font-size: 48px;
  line-height: 48px;
}

h2 {
  font-size: 32px;
  line-height: 32px;
}

h3 {
  font-size: 24px;
  line-height: 24px;
}

h4 {
  font-size: 20px;
  line-height: 20px;
}

h5 {
  font-size: 16px;
  line-height: 16px;
}

h6 {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}
