.nav {
  --transition-duration: 0.4s;

  font-size: 0;
  justify-self: end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding-top: 80px;
  transform: translateY(-110%);
  opacity: 0;
  transition: transform var(--transition-duration) var(--transition-function), opacity var(--transition-duration) var(--transition-function);
  transition-delay: var(--transition-duration);

  @media (min-width: 710px) {
    position: static;
    padding-top: 0;
    opacity: 1;
    transform: none;
  }

  @media (min-width: 1024px) {
    justify-self: center;
  }
}

.nav.is-toggled {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0s;

  @media (min-width: 710px) {
    transform: none;
  }
}

.nav > ul {
  // --transition-duration: 0.5s;
  padding: 0;
  transform: translateX(-20px);
  opacity: 0;
  transition: transform var(--transition-duration) var(--transition-function), opacity var(--transition-duration) var(--transition-function);
  transition-delay: 0s;
  list-style: none;

  @media (min-width: 710px) {
    display: flex;
    opacity: 1;
    transform: none;
  }
}
.nav.is-toggled > ul {
  transform: translateX(0);
  opacity: 1;
  transition-delay: var(--transition-duration);
}

.nav li {
  list-style: none;
}