.nav-card {
  --transition-duration: .3s;

  align-items: center;
  color: #000;
  display: grid;
  grid-template-areas: "icon content";
  grid-template-columns: max-content 1fr;
  text-decoration: none;
  width: 100%;

  @media (min-width: 710px) {
    grid-gap: 10px;
  }
}
.nav-card:hover {
  .nav-card__title,
  .nav-card__text {
    color: var(--color-primary);
  }

  .nav-card__icon {
    opacity: 1;
  }
}

.is-dropdown-toggled + .nav-dropdown {
  opacity: 1;
  pointer-events: unset;
  transform: translateX(0);
  visibility: visible;

  @media (min-width: 710px) {
    transform: translateY(0);
  }
}

.nav-card__icon {
  background-color: var(--color-primary);
  display: none;
  grid-area: icon;
  opacity: .2;
  transition-property: opacity;

  @media (min-width: 710px) {
    display: block;
  }
}

.nav-card__content {
  grid-area: content;
}

.nav-card__title {
  --space: 10px;
  display: block;

  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  margin: 0 0 5px;
  padding: var(--space) 0;
  transition: color .3s ease-in;

  @media (min-width: 710px) {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.57;
    padding: 0;
  }
}

.nav-card__text {
  display: none;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  margin: 0;
  transition: color .3s ease-in;

  @media (min-width: 710px) {
    display: block;
  }
}
