.articles-list {
  display: grid;
  row-gap: 72px;

  li {
    position: relative;
    
    &::after {
      content: "";
      position: absolute;
      bottom: -36px;
      width: 100%;
      border-bottom: 1px dotted var(--color-main);
    }
      
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}

