.article {
  position: relative;
  display: grid;
  row-gap: 5px;
}

.article__title {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 16px;

  @media (min-width: 769px) {
    font-size: 20px;
    grid-template-columns: 1fr max-content;
  }
}

.article__subtitle {
  color: var(--color-main);
  font-size: 18px;
  margin-bottom: 16px;
  display: block;

  @media (min-width: 769px) {
    font-size: 20px;
  }
}

.article__location {
  color: #17476A;
  font-size: 16px;
  display: block;
}

.article__dates {
  font-size: 14px;
  color: #737373;

  @media (min-width: 769px) {
    font-size: 16px;
  }
}

.article__text {
  display: grid;
  row-gap: 16px;

  p {
    margin: 0;
  }
}