.article {
  display: grid;
  position: relative;
  row-gap: 5px;
}

.article__title {
  display: grid;
  font-size: 16px;
  grid-template-columns: 1fr;

  @media (min-width: 769px) {
    font-size: 20px;
    grid-template-columns: 1fr max-content;
  }
}

.article__subtitle {
  color: var(--color-main);
  display: block;
  font-size: 18px;
  margin-bottom: 16px;

  @media (min-width: 769px) {
    font-size: 20px;
  }
}

.article__location {
  color: #17476A;
  display: block;
  font-size: 16px;
}

.article__dates {
  color: #737373;
  font-size: 14px;

  @media (min-width: 769px) {
    font-size: 16px;
  }
}

.article__text {
  display: grid;
  row-gap: 16px;

  p {
    margin: 0;
  }
}

.article__technologies {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 769px) {
    column-gap: 10px;
    grid-template-columns: max-content 1fr;
  }
}
.article__technologies dt,
.article__technologies dd {
  margin: 0;
  padding: 0;
}
.article__technologies dd {
  font-weight: 700;
}
