* {
  box-sizing: border-box;

  // Disable transitions if the user prefers it
  @media (prefers-reduced-motion: reduce) {
    transition: none !important;

    &::before,
    &::after {
      transition: none !important;
    }
  }
}

html,
body {
  height: 100%;
}

body {
  background-color: #f3efed;
  font-family: var(--fonts);
  margin: 0;
}
body::after {
  --transition-duration: .4s;
  background-color: #000;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity var(--transition-duration) var(--transition-function);
  z-index: 1000;
  display: none;

  @media (min-width: 710px) {
    display: block;
  }
}
body.is-toggled::after {
  opacity: 0.2;
}

a {
  outline: none;
  position: relative;
  text-underline-offset: 2px;
}

button {
  padding: 0; // Needed for firefox, because text is moving on :active otheriwse
  position: relative;
  font-family: var(--fonts);
  border: none;
}

button:focus,
a:focus {
  &::after {
    border: 2px dotted var(--color-primary);
    bottom: var(--button-outline-offset);
    content: "";
    left: var(--button-outline-offset);
    position: absolute;
    right: var(--button-outline-offset);
    top: var(--button-outline-offset);
  }
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
