body {
  display: grid;
  height: auto;
  margin: 0 auto;
  max-width: 1200px;
  padding: 16px;
  row-gap: 48px;
  color-adjust: exact;

  @media (min-width: 321px) {
    padding: 32px;
  }

  @media (min-width: 769px) {
    padding: 96px 48px 96px;
  }

  @media print {
    padding: 0;
    font-size: 16px;
  }
}
