:root {
  --button-height: 46px;
  --button-outline-offset: -8px;
  --button-outline-radius: 54px; // --button-height + --button-outline-offset
}

.button {
  background: #fff;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  border-radius: var(--button-height);
  color: #fff;
  // font-weight: 500; Actually, Open Sans doesn't have a 500 variant
  display: inline-block;
  font-size: 14px;
  height: var(--button-height);
  line-height: 42px; // --button-height - border-width
  padding: 0 40px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color, border-color .3s ease-in;
}

.button--outlined {
  color: var(--color-primary);
  font-family: "Open Sans", sans-serif;
}

.button--skip {
  height: 1px;
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  z-index: -999;
  color: var(--color-primary);
}
.button--skip:focus {
  // border: 2px dotted var(--color-primary);
  height: var(--button-height);
  left: 12px;
  padding: 0 30px;
  top: 12px;
  width: auto;
  z-index: 1000;
}
