.contacts {
  column-gap: 10px;
  display: grid;
  font-size: 14px;
  grid-template-columns: min-content 1fr;
  margin: 0;
  line-height: 20px;

  @media (min-width: 769px) {
    row-gap: 5px;
    font-size: 18px;
  }
}

.contacts dd {
  margin-left: 0;
}
