.content {
  display: grid;
  grid-template-areas:
    'summary'
    'main'
    'skills'
    'certificate'
    'languages'
    'education';
  // grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: start;
  position: relative;
  row-gap: 48px;
  z-index: 100;

  @media (min-width: 835px) {
    column-gap: 64px;
    grid-template-areas:
      'main summary'
      'main skills'
      'main certificate'
      'main languages'
      'main blank'
      'education blank';
    grid-template-columns: minmax(400px, 1fr) minmax(100px, 368px);
    row-gap: 64px;
  }

  @media print {
    column-gap: 32px;
    grid-template-areas:
      'main summary'
      'main skills'
      'main certificate'
      'main languages'
      'main blank'
      'education blank';
    grid-template-columns: minmax(400px, 1fr) minmax(100px, 300px);
  }
}

.content__main {
  grid-area: main;
}

.content__summary {
  grid-area: summary;
}

.content__skills {
  grid-area: skills;
}

.content__certificate {
  grid-area: certificate;
}

.content__languages {
  grid-area: languages;
}

.content__education {
  grid-area: education;
}
