:root {
  // Container
  --container-width: 1140px;
  --container-space: 20px;

  // Fonts
  --fonts: "Open Sans", --apple-system, BlinkMacSystemFont, sans-serif;

  // Colors
  // --color-primary: #009dff; Not WCAG AA compliant 
  --color-primary: #005B94;
  
  // Transitions
  --transition-duration: .2s;
  --transition-function: ease;
}
