.content {
  display: grid;
  grid-template-areas: "summary"
                       "main"
                       "skills"
                       "certificate"
                       "languages"
                       "education";
  row-gap: 48px;
  grid-template-columns: 1fr;

  @media (min-width: 835px) {
    row-gap: 32px;
    column-gap: 64px;
    grid-template-columns: minmax(400px, 1fr) minmax(100px, 368px);
    grid-template-areas: "main summary"
                         "main skills"
                         "main certificate"
                         "education languages";  
  }
}

.content__main {
  grid-area: main;
}

.content__summary {
  grid-area: summary;
}

.content__skills {
  grid-area: skills;
}

.content__certificate {
  grid-area: certificate;
}

.content__languages {
  grid-area: languages;
}

.content__education {
  grid-area: education;
}