:root {
  --hamburger-space: 7px;
}

.hamburger {
  background: none;
  display: block;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 1000;
  margin: 0;
  padding: 12px calc(var(--hamburger-space) * 4 + 12px) 12px 12px;
  position: relative;

  @media (min-width: 710px) {
    display: none;
  }
}

.hamburger__icon {
  display: block;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: 710px) {
    display: none;
  }
}

.hamburger__icon,
.hamburger__icon::after,
.hamburger__icon::before {
  background-color: #000;
  height: 3px;
  width: calc(var(--hamburger-space) * 3);
}

.hamburger__icon::after,
.hamburger__icon::before {
  content: "";
  display: block;
  position: relative;
}

.hamburger__icon::before {
  top: calc(var(--hamburger-space) * -1);
  // background: red;
}

.hamburger__icon::after {
  bottom: calc(100% - var(--hamburger-space));
  // background: green;
}
