.header {
  column-gap: 20px;
  display: grid;
  grid-template-areas: "main sidebar";
  grid-template-columns: minmax(200px, 1fr) minmax(80px, 200px);
  position: relative;
  z-index: 100;

  @media print {
    grid-template-columns: minmax(200px, 1fr) minmax(80px, 128px);
  }
}

.header__name {
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 4px;
  text-transform: uppercase;
    
  @media (min-width: 740px) {
    font-size: 56px;
    margin-bottom: 5px;
  }
}

.header__role {
  color: var(--color-main);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;

  @media (min-width: 740px) {
    font-size: 24px;
  }
}

.header__text {
  grid-area: main;
}

.header__photo {
  border-radius: 4px;
  grid-area: sidebar;
  justify-self: right;
  max-width: 100%;

  @media (min-width: 769px) {
    border-radius: 12px;
  }
}
