.logo {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 500;
}
.logo:focus {
  &::after {
    border: 2px dotted #000;
  }
}

.logo img {
  max-width: unset;
  width: 130px;
  height: auto;

  @media (min-width: 710px) {
    width: auto;
  }
}