@import 'siluet/constants';
@import 'siluet/normalize';
@import 'siluet/sr';

@import 'constants';
@import 'body';
@import 'content';
@import 'header';
@import 'contacts';
@import 'separator';
@import 'articles-list';
@import 'article';
@import 'skills';
@import 'languages';
@import 'rating';
@import 'certificate';

@page {
  margin: 55px 30px;
}

a {
  color: var(--color-links);
  font-weight: 700;
  outline: none;
  position: relative;
}

a:focus {
  &::after {
    border: 2px dotted var(--color-links);
    bottom: -8px;
    content: "";
    left: -8px;
    position: absolute;
    right: -8px;
    top: -8px;
  }
}

h2 {
  border-bottom: 4px solid #000;
  font-size: 20px;
  line-height: 32px;
  text-transform: uppercase;

  @media (min-width: 769px) {
    border-bottom: 8px solid #000;
    font-size: 32px;
    line-height: 48px;
  }
}

h3 {
  font-size: 20px;
  margin-bottom: 0;
  text-transform: uppercase;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;

  @media print {
    font-size: 16px;
  }
}
